@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet');
html {
  --primaryColor: #CBFDC3;
  --colorBg: #131417;
  --textColor: #fff;
  --cardColor: #2C2E31;
  --btnColor: #289916;
}

html[data-theme='light'] {
  --primaryColor: #EBF8FF;
  --colorBg: #fff;
  --textColor: #2C2E31;
  --cardColor: #2C2E31;
  --btnColor: #4E8DEC;
}

body {
  background: var(--colorBg);
}

html {
  scroll-behavior: smooth;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.title {
  font-family: 'Playfair Display', serif;
}

@-webkit-keyframes rotate-season {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate-season {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.rotate-season {
  -webkit-animation-name: rotate-season;
  /* Chrome, Safari, Opera */
  -webkit-animation-duration: 2s;
  /* Chrome, Safari, Opera */
  -webkit-animation-iteration-count: infinite;
  /* Chrome, Safari, Opera */
  -webkit-animation-timing-function: linear;
  /* Chrome, Safari, Opera */
  animation-name: rotate-season;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.short-underline {
  position: relative;
}

.short-underline::after {
  content: ' ';
  position: absolute;
  top: 100%;
  left: 50%;
  width: 73px;
  border: 3px solid #CBFDC3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

input, textarea {
  width: 100%;
  border: 1px solid grey;
  margin-bottom: 20px;
  height: 50px;
}

input:hover, input:active, input:focus, textarea:hover, textarea:active, textarea:focus {
  outline: 0px !important;
  -webkit-appearance: none;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border: 1.5px solid #EBF8FF;
}

.devugo-card {
  background: #FFFFFF;
  border-radius: 8px;
  padding: 15px;
}

.devugo-btn {
  padding: 7px 20px;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
}

section {
  color: #2C2E31;
}

.toggle-icons {
  position: fixed;
  bottom: 20px;
  right: 15px;
  z-index: 2;
}

.toggle-icons .toggle-icon {
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 1px 5px #6e6e6e;
          box-shadow: 0 1px 5px #6e6e6e;
  cursor: pointer;
}

.toggle-icons .toggle-icon i {
  color: var(--primaryColor);
  font-size: 20px;
}

body {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

@media (max-width: 767px) {
  .hide-mobile {
    display: none;
  }
}

#desktop-navbar {
  display: none;
}

#devugo-navbar {
  width: 100%;
  height: 70px;
}

#devugo-navbar .devugo-btn {
  background: var(--primaryColor);
  color: var(--btnColor);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

#devugo-navbar .content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10px;
  overflow: hidden;
}

#devugo-navbar .content .navbar-logo {
  margin-left: 40px;
}

#devugo-navbar .content .navbar {
  position: fixed;
  width: 100%;
  background-color: var(--colorBg);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  height: 100%;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  top: 0;
  opacity: 0.98;
  transition: all 0.5s ease-in-out;
}

#devugo-navbar .content .navbar.open {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

#devugo-navbar .content .navbar .circle {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 30px;
  left: 40px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 2px solid var(--textColor);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  top: 10px;
  transition: all 0.5s ease-in-out;
}

#devugo-navbar .content .navbar .circle:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#devugo-navbar .content .navbar .circle i {
  color: var(--textColor);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

#devugo-navbar .content .navbar-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  margin-top: 100px;
}

#devugo-navbar .content .navbar-menu li {
  margin-bottom: 20px;
  margin-bottom: 20px;
}

#devugo-navbar .content .navbar-menu li a {
  color: var(--textColor);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
}

#devugo-navbar .content .hamburger {
  position: relative;
  margin-right: 40px;
  cursor: pointer;
}

#devugo-navbar .content .hamburger-stick {
  position: relative;
  width: 40px;
  height: 3px;
  border-radius: 5px;
}

#devugo-navbar .content .hamburger-stick__one {
  background-color: var(--textColor);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

#devugo-navbar .content .hamburger-stick__one::after {
  content: '';
  position: absolute;
  width: 30px;
  height: 3px;
  right: 0;
  background-color: var(--textColor);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  top: 8px;
}

#devugo-navbar .content .hamburger-stick__two {
  background-color: var(--textColor);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  top: 14px;
}

#devugo-navbar .content .hamburger-stick__two::after {
  content: '';
  position: absolute;
  width: 30px;
  height: 3px;
  right: 0;
  background-color: var(--textColor);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  top: 8px;
}

@media screen and (min-width: 768px) {
  #devugo-navbar {
    display: none;
  }
  #desktop-navbar {
    display: block;
    margin-right: 3.5%;
    margin-left: 3.5%;
  }
  #desktop-navbar .devugo-btn {
    background: var(--primaryColor);
    color: var(--btnColor);
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  #desktop-navbar .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 10px 20px 10px 20px;
  }
  #desktop-navbar .content div:first-child {
    width: 30%;
  }
  #desktop-navbar .content .navbar {
    width: 70%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #desktop-navbar .content .navbar-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  #desktop-navbar .content .navbar-menu li {
    margin-left: 0px;
  }
  #desktop-navbar .content .navbar-menu li a {
    color: var(--textColor);
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
}

@media screen and (min-width: 1024px) {
  #desktop-navbar .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 10px 20px 10px 20px;
  }
  #desktop-navbar .content div:first-child {
    width: 35%;
  }
  #desktop-navbar .content .navbar {
    width: 65%;
  }
  #desktop-navbar .content .navbar-menu li {
    margin-left: 25px;
    margin-right: 25px;
  }
}

.devugo-footer {
  width: 100%;
  background-color: red;
}

.banner {
  display: relative;
}

.banner .body {
  margin: 0px 40px;
}

.banner .body .content .banner-card {
  padding: 23% 22% 22% 22%;
  background-color: var(--primaryColor);
  height: 262px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.banner .body .content .banner-card h4 {
  font-weight: bold;
  font-size: 16px;
  line-height: 100%;
  margin-bottom: 20px;
}

.banner .body .content .banner-card p {
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
}

.banner .body .content .banner-card .orange-pill {
  background: #FF5858;
  border-radius: 44px;
  width: 47px;
  height: 4px;
  position: absolute;
  top: 15px;
  right: 25%;
}

.banner .body .content .banner-card .blue-pill {
  width: 22px;
  height: 4px;
  background: rgba(37, 43, 197, 0.76);
  border-radius: 44px;
  position: absolute;
  top: 15px;
  right: 12%;
}

.banner .body .content.first-content {
  position: relative;
}

.banner .body .content.first-content .woman-image {
  width: 100%;
}

.banner .body .content:last-child img {
  height: 294px;
  width: 100%;
}

.banner .body img.left-circles {
  position: absolute;
  left: 0px;
  top: 20%;
  width: 30px;
}

.banner h2.art-text {
  letter-spacing: 0.39em;
  color: rgba(228, 228, 228, 0.26);
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  font-weight: bold;
  font-size: 35px;
  line-height: 55px;
  position: fixed;
  top: 500px;
  right: -30px;
}

@media screen and (min-width: 768px) {
  .banner .body {
    margin: 0px 20px;
  }
  .banner .body .content.second-content {
    margin-right: 10%;
  }
  .banner .body .content .banner-card {
    height: 389px;
    padding: 2% 15% 2% 15%;
  }
  .banner .body .content .banner-card h4 {
    font-size: 26px;
  }
  .banner .body .content .banner-card p {
    font-size: 18px;
  }
  .banner .body .content .banner-card .orange-pill {
    width: 63px;
    height: 5px;
  }
  .banner .body .content .banner-card .blue-pill {
    width: 30px;
    height: 5px;
  }
  .banner .body .content img.overlap {
    position: absolute;
    width: 352px;
    height: 328px;
    bottom: 40px;
    left: -170px;
    top: 300px;
  }
  .banner .body .content img.woman-image {
    height: 650px;
  }
  .banner .body .content.first-content {
    margin-left: 20%;
    margin-top: 15%;
  }
  .banner .body img.left-circles {
    top: 30%;
    width: 50px;
  }
  .banner h2.art-text {
    position: absolute;
    font-size: 80px;
    top: 87%;
    right: 43.5%;
  }
}

@media screen and (min-width: 1024px) {
  .banner .body .content .banner-card {
    height: 489px;
    padding-left: 15%;
    padding-right: 15%;
  }
  .banner .body .content .banner-card h4 {
    font-size: 36px;
  }
  .banner .body .content .banner-card p {
    font-size: 24px;
  }
  .banner .body .content .banner-card .orange-pill {
    width: 83px;
  }
  .banner .body .content .banner-card .blue-pill {
    width: 37px;
  }
  .banner .body .content img.overlap {
    position: absolute;
    height: 428px;
    top: 350px;
  }
  .banner .body .content img.woman-image {
    height: 930px;
  }
  .banner .body .content.first-content {
    margin-top: 25%;
  }
  .banner h2.art-text {
    font-size: 108px;
    top: 140%;
    right: 41.5%;
  }
}

.about {
  width: 100%;
  margin-top: 40px;
}

.about .body {
  margin: 0px 40px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about .body img {
  width: 100%;
  height: 321px;
}

.about .body .main-content {
  padding: 100px 50px 30px 50px;
  background-color: var(--primaryColor);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  position: relative;
}

.about .body .main-content .title-content {
  margin-bottom: 20px;
}

.about .body .main-content .title-content h3 {
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
}

.about .body .main-content .content p {
  font-size: 16px;
  line-height: 24px;
}

.about .body .main-content h3.title-side {
  color: rgba(70, 45, 45, 0.34);
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.09em;
  position: absolute;
  top: 50px;
  right: -20px;
}

@media screen and (min-width: 768px) {
  .about {
    margin-top: 150px;
  }
  .about .body {
    margin: 0px 0px;
  }
  .about .body img {
    width: 45%;
    height: 727px;
  }
  .about .body .main-content {
    width: 59%;
    position: absolute;
    left: 41%;
    top: -4%;
    height: 657px;
    padding: 60px 7% 10% 7%;
  }
  .about .body .main-content .title-content h3 {
    font-weight: bold;
    font-size: 30px;
    line-height: 32px;
  }
}

@media screen and (min-width: 1024px) {
  .about {
    margin-top: 170px;
  }
  .about .body .main-content {
    padding: 100px 10% 10% 10%;
  }
  .about .body .main-content .title-content h3 {
    font-size: 35px;
  }
}

.portfolio {
  margin-top: 70px;
}

.portfolio .container .body .section-title {
  margin-bottom: 30px;
}

.portfolio .container .body .section-title h2 {
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  color: white;
}

.portfolio .container .body .content img {
  width: 100%;
  margin-bottom: 20px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.portfolio .container .body .content img:hover {
  -webkit-filter: brightness(90%);
          filter: brightness(90%);
}

@media screen and (min-width: 768px) {
  .portfolio .container .body .section-title h2 {
    font-size: 36px;
    line-height: 48px;
  }
}

.reviews .body {
  position: relative;
}

.reviews .body .content h3 {
  font-weight: bold;
  font-size: 10px;
  line-height: 13px;
  margin-top: 5px;
}

.reviews .body .content p {
  font-weight: 300;
  font-size: 8px;
  line-height: 12px;
  margin-left: 10px;
}

.reviews .body .content p.quote {
  float: right;
}

.reviews .body .content .line-one {
  width: 23.38px;
  background-color: black;
  height: 1px;
  position: absolute;
  left: 25%;
  margin-bottom: 10px;
}

.reviews .body .content .line-two {
  width: 23.38px;
  background-color: black;
  height: 1px;
  position: absolute;
  left: 25%;
  margin-bottom: 10px;
}

.reviews .body .content .first {
  position: relative;
  background-color: var(--primaryColor);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  width: 65%;
  padding: 7% 15% 5% 15%;
}

.reviews .body .content .second {
  position: absolute;
  right: -80px;
  top: 23%;
}

.reviews .body .content .second img {
  width: 112.99px;
}

.reviews .body .content h2 {
  position: absolute;
  top: 30px;
  left: -10px;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: rgba(70, 45, 45, 0.34);
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.reviews .body .next-button {
  position: absolute;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: var(--primaryColor);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  top: 60px;
  right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.reviews .body .next-button i {
  color: #2C2E31;
}

@media screen and (min-width: 768px) {
  .reviews .body .content h3 {
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
  }
  .reviews .body .content p {
    margin-left: 25px;
    font-size: 14px;
    line-height: 14px;
  }
  .reviews .body .content p.quote {
    margin-top: -15px;
  }
  .reviews .body .content .line-one {
    width: 70px;
    left: 33%;
  }
  .reviews .body .content .line-two {
    width: 70px;
    left: 33%;
  }
  .reviews .body .content .first {
    padding: 7% 18% 5% 18%;
  }
  .reviews .body .content .second {
    right: -150px;
  }
  .reviews .body .content .second img {
    width: 200px;
  }
  .reviews .body .content h2 {
    font-size: 27px;
    line-height: 48px;
    top: 40px;
  }
  .reviews .body .next-button {
    width: 60px;
    height: 60px;
    top: 160px;
  }
}

@media screen and (min-width: 1024px) {
  .reviews .body .content h3 {
    font-size: 18px;
  }
  .reviews .body .content p {
    font-size: 16px;
    line-height: 25px;
  }
  .reviews .body .content .first {
    width: 55%;
    padding: 7% 14% 5% 14%;
  }
  .reviews .body .content .second {
    right: -250px;
  }
  .reviews .body .content .second img {
    height: 427px;
    width: 310px;
  }
  .reviews .body .content h2 {
    font-size: 32px;
    top: 50px;
  }
  .reviews .body .next-button {
    top: 300px;
    right: 200px;
  }
}
/*# sourceMappingURL=main.css.map */