@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet');
body {
  background-color: #131417;
}

html {
  scroll-behavior: smooth;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.title {
  font-family: 'Playfair Display', serif;
}

.short-underline {
  position: relative;
}

.short-underline::after {
  content: ' ';
  position: absolute;
  top: 100%;
  left: 50%;
  width: 73px;
  border: 3px solid #CBFDC3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

input, textarea {
  width: 100%;
  border: 1px solid grey;
  margin-bottom: 20px;
  height: 50px;
}

input:hover, input:active, input:focus, textarea:hover, textarea:active, textarea:focus {
  outline: 0px !important;
  -webkit-appearance: none;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border: 1.5px solid #EBF8FF;
}

.devugo-card {
  background: #FFFFFF;
  border-radius: 8px;
  padding: 15px;
}

section {
  color: #2C2E31;
}

@media (max-width: 767px) {
  .hide-mobile {
    display: none;
  }
}

#devugo-navbar {
  width: 100%;
  height: 70px;
  -webkit-box-shadow: 0 8px 6px -6px #999;
          box-shadow: 0 8px 6px -6px #999;
  background-color: white;
}

#devugo-navbar .content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#devugo-navbar .content .navbar {
  position: absolute;
  width: 100%;
  background-color: red;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  height: 100%;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

#devugo-navbar .content .navbar.open {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

#devugo-navbar .content .navbar .circle {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 30px;
  left: 40px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: blue;
  border: 1px solid white;
  top: 40px;
}

#devugo-navbar .content .navbar-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

#devugo-navbar .content .navbar-menu li a {
  color: white;
}

.banner {
  display: relative;
}

.banner .body {
  margin: 0px 40px;
}

.banner .body .content .banner-card {
  padding: 23% 22% 22% 22%;
  background-color: #CBFDC3;
  height: 262px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.banner .body .content .banner-card h4 {
  font-weight: bold;
  font-size: 16px;
  line-height: 100%;
  margin-bottom: 20px;
}

.banner .body .content .banner-card p {
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
}

.banner .body .content .banner-card .orange-pill {
  background: #FF5858;
  border-radius: 44px;
  width: 47px;
  height: 4px;
  position: absolute;
  top: 15px;
  right: 25%;
}

.banner .body .content .banner-card .blue-pill {
  width: 22px;
  height: 4px;
  background: rgba(37, 43, 197, 0.76);
  border-radius: 44px;
  position: absolute;
  top: 15px;
  right: 12%;
}

.banner .body .content.first-content {
  position: relative;
}

.banner .body .content.first-content .woman-image {
  width: 100%;
}

.banner .body .content:last-child img {
  height: 294px;
  width: 100%;
}

.banner .body img.left-circles {
  position: absolute;
  left: 0px;
  top: 20%;
  width: 30px;
}

.banner h2.art-text {
  letter-spacing: 0.39em;
  color: rgba(228, 228, 228, 0.26);
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  font-weight: bold;
  font-size: 35px;
  line-height: 55px;
  position: fixed;
  top: 500px;
  right: -30px;
}

@media screen and (min-width: 768px) {
  .banner .body {
    margin: 0px 20px;
  }
  .banner .body .content.second-content {
    margin-right: 10%;
  }
  .banner .body .content .banner-card {
    height: 389px;
    padding: 2% 15% 2% 15%;
  }
  .banner .body .content .banner-card h4 {
    font-size: 26px;
  }
  .banner .body .content .banner-card p {
    font-size: 18px;
  }
  .banner .body .content .banner-card .orange-pill {
    width: 63px;
    height: 5px;
  }
  .banner .body .content .banner-card .blue-pill {
    width: 30px;
    height: 5px;
  }
  .banner .body .content img.overlap {
    position: absolute;
    width: 352px;
    height: 328px;
    bottom: 40px;
    left: -170px;
    top: 300px;
  }
  .banner .body .content img.woman-image {
    height: 650px;
  }
  .banner .body .content.first-content {
    margin-left: 20%;
    margin-top: 15%;
  }
  .banner .body img.left-circles {
    top: 30%;
    width: 50px;
  }
  .banner h2.art-text {
    position: absolute;
    font-size: 80px;
    top: 87%;
    right: 43.5%;
  }
}

@media screen and (min-width: 1024px) {
  .banner .body .content .banner-card {
    height: 489px;
    padding-left: 15%;
    padding-right: 15%;
  }
  .banner .body .content .banner-card h4 {
    font-size: 36px;
  }
  .banner .body .content .banner-card p {
    font-size: 24px;
  }
  .banner .body .content .banner-card .orange-pill {
    width: 83px;
  }
  .banner .body .content .banner-card .blue-pill {
    width: 37px;
  }
  .banner .body .content img.overlap {
    position: absolute;
    height: 428px;
    top: 350px;
  }
  .banner .body .content img.woman-image {
    height: 930px;
  }
  .banner .body .content.first-content {
    margin-top: 25%;
  }
  .banner h2.art-text {
    font-size: 108px;
    top: 120%;
    right: 41.5%;
  }
}

.about {
  width: 100%;
  margin-top: 40px;
}

.about .body {
  margin: 0px 40px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about .body img {
  width: 100%;
  height: 321px;
}

.about .body .main-content {
  padding: 100px 50px 30px 50px;
  background-color: #CBFDC3;
  position: relative;
}

.about .body .main-content .title-content {
  margin-bottom: 20px;
}

.about .body .main-content .title-content h3 {
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
}

.about .body .main-content .content p {
  font-size: 16px;
  line-height: 24px;
}

.about .body .main-content h3.title-side {
  color: rgba(70, 45, 45, 0.34);
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.09em;
  position: absolute;
  top: 50px;
  right: -20px;
}

@media screen and (min-width: 768px) {
  .about {
    margin-top: 150px;
  }
  .about .body {
    margin: 0px 0px;
  }
  .about .body img {
    width: 45%;
    height: 727px;
  }
  .about .body .main-content {
    width: 59%;
    position: absolute;
    left: 41%;
    top: -4%;
    height: 657px;
    padding: 60px 7% 10% 7%;
  }
  .about .body .main-content .title-content h3 {
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
  }
}

@media screen and (min-width: 1024px) {
  .about {
    margin-top: 170px;
  }
  .about .body .main-content {
    padding: 100px 10% 10% 10%;
  }
}
/*# sourceMappingURL=main.css.map */