
.short-underline {
    position: relative;

    &::after {
        content:' ';
        position: absolute;
        top:100%;
        left:50%;
        width: 73px;
        border:3px solid $primary-color;
        border-radius:4px;
        box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
        transform:translateX(-100%);
    }
}

input, textarea {
    width: 100%;
    border: 1px solid grey;
    margin-bottom: 20px;
    height: 50px;

    &:hover, 
    &:active,
    &:focus
    {
        outline:0px !important;
        -webkit-appearance:none;
        box-shadow: none !important;
        border: 1.5px solid $secondary-color;
    }
}

.devugo-card {
    background: #FFFFFF;
    border-radius: 8px;
    padding: 15px;
}

.devugo-btn {
    padding: 7px 20px;
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
}

section {
    color: $text-color;
}

@media(max-width: 767px) {
    .hide-mobile {
        display: none;
    }
}


