.devugo-footer {
    width: 100%;
    overflow-x: hidden !important;
    .body {
        .content {
            color: var(--textColor);
            padding: 5% 15% 5% 15%;
            @include transition-ease;

            &.first {
                padding-top: 50px;
                padding-bottom: 70px;
                position: relative;
                h4{
                    font-weight: bold;
                    font-size: 24px;
                    line-height: 32px;
                }

                p{
                    font-weight: 300;
                    font-size: 14px;
                    line-height: 21px;
                    margin-bottom: 30px;
                }

                form {
                    input {
                        border: 0;
                        border-bottom: 1px solid var(--textColor);
                        background: inherit;
                        color: #f3f3f3;
                        font-weight: 300;
                        font-size: 16px;
                        @include transition-ease;
                    }

                    button {
                        background-color: var(--primaryColor);
                        color: var(--btnColor);
                    }
                }

                img.footer-circles {
                    position: absolute;
                    right: 0;
                    bottom: 20px;
                    height: 40px;
                    width: 60px;
                }
                
                .footer-logo {
                    width: 40px;
                    margin-bottom: 20px;
                }
            }
            &.second {
                background-color: var(--primaryColor);
                color: $text-color;
                @include transition-ease;

                .footer-logo {
                    width: 60px;
                    margin-bottom: 20px;
                }

                h4 {
                    font-weight: bold;
                    font-size: 13px;
                    line-height: 19px;
                    margin-top: 10px;
                }
                p{
                    font-weight: 300;
                    font-size: 13px;
                    line-height: 19px;
                }

                .social {
                    img {
                        margin-right: 5px;
                        margin-left: 5px;
                        cursor: pointer;
                        @include transition-ease;

                        &:hover {
                            opacity: 0.9;
                            transform: scale(1.1);
                        }
                    }
                }
            }
        }
    }
}


@include media-md {
    .devugo-footer {
        .body {
            .content {
    
                &.first {
                    h4{
                        font-weight: bold;
                        font-size: 28px;
                        line-height: 42px;
                    }
    
                    p{
                        font-weight: 300;
                        font-size: 16px;
                        line-height: 130.5%;
                    }
    
                    img.footer-circles {
                        left: 15%;
                        bottom: 20px;
                        height: 40px;
                        width: 60px;
                    }
                    
                    .footer-logo {
                       width: 100px;
                    }
                }
                &.second {
                   padding-left: 20% !important;
                   padding-top: 10% !important;
                   height: 100%;
    
                    .footer-logo {
                        display: none;
                        width: 100px;
                    }

                    h4{
                        font-weight: bold;
                        font-size: 24px;
                        line-height: 32px;
                    }
                    p{
                        font-size: 24px;
                        line-height: 32px;
                    }
                }
            }
        }
    }
}