.about {
    width: 100%;
    margin-top: 40px;

    .body {
        margin: 0px 40px;
        position: relative;
        display: flex;
        flex-wrap: wrap;

        img {
            width: 100%;
            height: 321px;
        }


        .main-content {
            padding: 100px 50px 30px 50px;
            background-color: var(--primaryColor);
            @include transition-ease;
            position: relative;

            .title-content {
                margin-bottom: 20px;
                h3{
                    font-weight: bold;
                    font-size: 24px;
                    line-height: 32px;
                }
            }

            .content {
                p{
                    font-size: 16px;
                    line-height: 24px;
                }
                
            }

            h3.title-side{
                color: rgba(70, 45, 45, 0.34);
                transform: rotate(90deg);
                font-weight: 600;
                font-size: 24px;
                line-height: 36px;
                letter-spacing: 0.09em;
                position: absolute;
                top: 50px;
                right: -20px;
            }
        }
    }
}


@include media-md {
    .about {
      margin-top: 150px;
    
        .body {
            margin: 0px 0px;
    
            img {
               width: 45%;
               height: 727px;
            }
    
    
            .main-content {
                width: 59%;
                position: absolute;
                left: 41%;
                top: -4%;
                height: 657px;
                padding: 60px 7% 10% 7%;

                .title-content {
                    h3 {
                        font-weight: bold;
                        font-size: 30px;
                        line-height: 32px;
                    }
                }
            }
        }
    }
}

@include media-lg {
    .about {
        margin-top: 170px;

        .body {
    
    
            .main-content {
                padding: 100px 10% 10% 10%;
                
                .title-content {
                    h3 {
                        font-size: 35px;
                    }
                }
               
            }
        }
    }
}