.reviews {
    .body {
        position: relative;
        .content {
            // display: flex;
            .carousel-item {
                height: 250px;
            }
            h3{
                font-weight: bold;
                font-size: 10px;
                line-height: 13px;
                margin-top: 5px;
            }
            p{
                font-weight: 300;
                font-size: 8px;
                line-height: 12px;
                margin-left: 10px;

                &.quote {
                    float: right;
                }
            }

            .line-one {
                width: 23.38px; 
                background-color: black; 
                height: 1px; 
                position: absolute; 
                left: 25%; 
                margin-bottom: 10px;
            }

            .line-two {
                width: 23.38px; 
                background-color: black; 
                height: 1px;
                position: absolute; 
                left: 25%; 
                margin-bottom: 10px;
            }

            .first {
                position: relative;
                background-color: var(--primaryColor);
                @include transition-ease;
                width: 65%;
                padding: 7% 15% 5% 15%;
            }
            .second {
                position: absolute;
                right: -80px;
                top: 35%;

                img {
                    width: 112.99px;
                }

            }

            h2{
                position: absolute;
                top: 40px;
                left: -10px;
                font-weight: 600;
                font-size: 12px;
                line-height: 18px;
                color: rgba(70, 45, 45, 0.34);
                transform: rotate(-90deg);
            }
        }
        .next-button {
            position: absolute;
            width: 32px;
            height: 32px;
            border-radius: 50%;
            background-color: var(--primaryColor);
            @include transition-ease;
            top: 100px;
            right: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            @include transition-ease;

            i {
                color: $text-color;
            }
        }
    }
}


@include media-md {
    .reviews {
        .body {
            .content {
                // display: flex;
                    
                .carousel-item {
                    height: 400px;
                }
                h3{
                    font-weight: bold;
                    font-size: 18px;
                    line-height: 24px;
                }
                p{
                    margin-left: 25px;
                    font-size: 14px;
                    line-height: 14px;

                    &.quote {
                        margin-top: -15px;
                    }
    
                }

                .line-one {
                    width: 70px;
                    left: 33%; 
                }
                .line-two {
                    width: 70px;
                    left: 33%; 
                }
    
                .first {
                    padding: 7% 18% 5% 18%;
                }
                .second {
                    right: -150px;                
    
                    img {
                        width: 200px;
                    }
    
                }
    
                h2{
                    font-size: 27px;
                    line-height: 48px;
                    top: 60px;
                }
            }
        
            .next-button {
                width: 60px;
                height: 60px;
                top: 160px;
                // right: 20px;
            }
        }
    }
}

@include media-lg {
    .reviews {
        .body {
            .content {
                // display: flex;
                .carousel-item {
                    height: 600px;
                }
                h3{
                    font-size: 18px;
                }
                p{
                    font-size: 16px;
                    line-height: 25px;
                }
    
                .first {
                    width: 55%;
                    padding: 7% 14% 5% 14%;
                }
                .second {
                    right: -250px;  
    
                    img {
                        height: 427px;
                        width: 310px;
                    }
    
                }
    
                h2{
                    font-size: 32px;
                    top: 80px;
                }
            }
        
            .next-button {
                top: 300px;
                right: 10%;
            }
        }
    }
}


